.kioskPage {
  --background: var(--color-neutral);
}

.content {
  --background: var(--color-white);
}

.container {
  width: 100%;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--spacing-lg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding: var(--spacing-md);
  }
}
